### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This file manages CODEOWNERS - people GitHub automatically
# requests reviews from and restricts pull requests from
# being merged if they do not provide a review.
# List is organized by alphebetical filenames.
# Essentially keep it in the order that VSC does it already.
# Please do not touch this file if you have not been instructed to.

## ./github/CODEOWNERS
# Restricted to Org Security Team
/.github/CODEOWNERS @VerdantBadlandsF13/org-security

## ./github & ./vscode
# Restricted to Codebase Security Team
/.github/ @VerdantBadlandsF13/verdant-maintainers-security
/.vscode/ @VerdantBadlandsF13/verdant-maintainers-security

## ./SQL
# Restricted to Codebase Security Team
/SQL/ @VerdantBadlandsF13/verdant-maintainers-security

## ./code/modules/persistence_*/
# Restricted to Invididual Maintainer
/code/modules/persistence_*/ @Cupax3
